DATABASE_URL_AUTH="mysql://root:root@localhost:3306/db_auth_rbac"
DATABASE_URL_TX="mysql://root:root@localhost:3306/db_transactional"
JWT_SECRET="ganti-dengan-secret-kamu"
JWT_EXPIRES_IN="1d"
PORT=3000
NODE_ENV=development
CORS_ORIGINS=http://localhost:3000,http://localhost:5173
